SQLSERVER_CONNECTION_STRING=Server=localhost,1433;Database=QLTV;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;MultipleActiveResultSets=true

SUPABASE_URL=https://gtjrtwtbjdcznuacgrio.supabase.co
SUPABASE_SERVICE_ROLE_KEY=gtjrtwtbjdcznuacgrio

TEMP_PASSWORD=ChangeMe123!@

ONLY_ADMINS=false
